*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

.auth-wrapper{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:var(--bg-main);
}

.auth-card{
background:white;
padding:40px;
width:360px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
text-align:center;
position:relative;
z-index:2;
}

/* ICON */

.auth-animation{
width:100px;
margin-bottom:10px;
animation:float 3s ease-in-out infinite;
}

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-15px)}
100%{transform:translateY(0)}
}

.subtitle{
margin-bottom:20px;
color:var(--text-secondary);
}

/* FORM */

.form-group{
margin-bottom:18px;
text-align:left;
}

.form-group label{
display:block;
font-size:14px;
margin-bottom:5px;
}

.form-group input{
width:100%;
padding:10px;
border-radius:8px;
border:1px solid var(--border-color);
}

.form-group input:focus{
border-color:var(--color-primary);
box-shadow:0 0 6px rgba(74, 144, 226,0.3);
}

/* BUTTON */

.auth-btn{
width:100%;
padding:12px;
background:var(--color-primary);
border:none;
color:white;
border-radius:25px;
font-weight:600;
cursor:pointer;
}

.auth-btn:hover{
background:var(--color-primary);
}

/* LINK */

.switch-text{
margin-top:18px;
font-size:14px;
}

.switch-text a{
color:var(--color-primary);
font-weight:600;
text-decoration:none;
}
