* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.auth-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.auth-left {
  flex: 1;
  background: url("https://images.unsplash.com/photo-1609947017136-9daf32a5eb16")
    center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-left .overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  color: white;
  text-align: center;
  border-radius: 15px;
}

.auth-left h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

/* RIGHT SIDE */
.auth-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
}

.auth-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(199, 173, 136, 0.2);
}

.auth-card h3 {
  margin-bottom: 25px;
  text-align: center;
  color: #c7ad88;
}

/* FORM */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #c7ad88;
  box-shadow: 0 0 8px rgba(199, 173, 136, 0.3);
}

/* BUTTON */
.auth-btn {
  width: 100%;
  padding: 12px;
  background: #c7ad88;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #c7ad88;
}

/* SWITCH TEXT */
.switch-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.switch-text a {
  color: #c7ad88;
  font-weight: 600;
  text-decoration: none;
}
/* LOADING SCREEN */

.om-screen{
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
background:black;
color:white;
}